.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.thumbnail {
    position: relative;
    margin: 40px;
    width: 300px;
    height: 200px;
    background-color: black;
}

.thumbnail:hover {
    opacity: 0.8;
}

.caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
}

img {
    opacity: 0.8;
    width: 300px;
    height: 200px;
}


a {
    text-decoration: none;
    color:white;
}

a:hover {
    text-decoration: none;
    color:white;
}