
.navbar-brand {

    font-size: 30px;
    color: red;
    padding-right: 150px;

}

.nav-item {
    margin: 0 30px;

}

/*Här börjar deafult*/

.profile-info {
    width: 400px;
    margin-left: 55px;
}

.fa-user-cog {
    font-size: x-large;
}

/*---------footer styles--*/

/*.page-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}*/

