@model VeganProfileVM

<div>
    <div>
        <h2>@Model.UserName</h2>
    </div>

    <div>
        <img src="~/Uploads/@Model.PictureURL" style="width: auto; height: 150px;" class="rounded-circle" alt="Cinque Terre"/>
    </div>

    <div>
        @Model.Posts 
    </div>

    <div>
        @Model.Followers
    </div>
    <div>
        @Model.Following
    </div>

</div>

<button><a asp-controller="vegan" asp-action="editprofile">Edit Profile</a></button>


