<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
</head>
<body>
    <header>
        <a asp-controller="Vegan" asp-action="Recipes">Recipes</a>
        <a asp-controller="Vegan" asp-action="Followers">Followers</a>
        <a asp-controller="Vegan" asp-action="Profile">Profile</a>
    </header>
    <div>
        @RenderBody()
    </div>
</body>
</html>
