@{
    Layout = "_Layout";
}

@section styles {@RenderSection("styles", false)}


<partial name="~/Views/Shared/_Header.cshtml" />


<div>
    @await Component.InvokeAsync("ProfileInfo")
</div>

<div>
    <a href="/profile/post">Posts</a>
    <a href="/profile/save">Saved Recipes</a>
    <a href="/profile/add">Add Recipe</a>
</div>

<div>
    @RenderBody()
</div>
@section scripts
{ @RenderSection("scripts", false) }
