@{
    Layout = "_Layout";
}

@section styles {
    <link rel="stylesheet" type="text/css" href="~/Styles/Default.css">
    @RenderSection("styles", false)

}


<partial name="~/Views/Shared/_Header.cshtml" />

<div>
    @await Component.InvokeAsync("ProfileInfo")
</div>

<div class="post-saved-add d-flex justify-content-around pt-2">
    <div>
        <i class="fas fa-th"></i>
        <a class="profile-link" href="/profile/post">Posts</a>
    </div>
    <div>
        <i class="far fa-bookmark"></i>
        <a href="/profile/save">Saved Recipes</a>
    </div>
    <div>
        <i class="fas fa-plus"></i>
        <a href="/profile/add">Add Recipe</a>
    </div>
</div>

<div>
    @RenderBody()
</div>
@section scripts
{ @RenderSection("scripts", false) }
