@model VeganProfileAddVM
@{ ViewBag.Title = "Add";}
@{
    Layout = "_ProfileLayout";
}

@section styles
{
    <link rel="stylesheet" type="text/css" href="~/Styles/Addrecipe.css">
}

<div class="contentRec">
    <div class="add-recipe-loop">

        <div id="RecipeLoop-item-1" class="RecipeLoop-item">
            <h3 id="h3">Step 1 </h3>
            <div id="line"></div>
            </br>


            <label asp-for="Name" for="input" id="dish"></label>
            </br>
            <input id="input" class="form-control form-rounded" type="text" />
            </br>

            <form method="post" enctype="multipart/form-data">
                <label class="custom-file-upload" asp-for="Img"></label>
                <input class="btn btn-default" asp-for="Img" />
                <span asp-validation-for="Img"></span>

            </form>
            </br>

            @foreach (var item in Model.Categories)
            {
                <div class="form-check form-check-inline">
                    <input type="checkbox" name="ingredient" value="@item.Value">@item.Text<br />
                </div>
            }

            </br>
            </br>
            </br>


            @*<form method="post" enctype="multipart/form-data">
                    </br>

                    <input id="profilePic" name="picture" type="file" size="1" />
                </form>*@





            <button id="btnPosition" onclick="uploadFile();" data-item-to-show="2" class="btn btn-outline-success btn-block">Next</button>
        </div>


        <div id="RecipeLoop-item-2" class="RecipeLoop-item hide">
            <h3 id="h3">Step 2</h3>
            <div id="line"></div>

            <div class="d-flex flex-column">

                <div class="ContainerforMuch">

                    <label>Ingredient</label>
                    <input class="form-control form-rounded" id="IngrInput" />
                    </br>
                    <div id="containerName" class="d-flex flex-row justify-content-center">
                        @*<label>Amount</label>*@
                        </br>
                        <input class="form-control form-rounded" id="AmountInput" type="number" />

                        @*<label asp-for="MeasurementItems"></label>*@
                        <select asp-for="SelectedMeasurementValue"
                                asp-items="Model.MeasurementItems" id="valueofDD"></select>
                        <span asp-validation-for="SelectedMeasurementValue"></span>
                        </br>
                        <div class="paddingForBtn">
                            <button type="button" onclick="AddIngredients();" data-item-to-show="2" class="btn btn-success"> Add ingredient</button>
                        </div>

                    </div>

                </div>
                <div id="ingredientContainer">
                    <ul id="ingredientsList">
                        <li>Added Ingredients: </li>
                    </ul>

                </div>
            </div>

            <button type="button" data-item-to-show="1" class="btn btn-outline-secondary" id="btnLeft">Back</button>
            <button type="button" data-item-to-show="3" class="btn btn-outline-success" id="btnPositionSec">Next</button>



        </div>

        <div id="RecipeLoop-item-3" class="RecipeLoop-item hide">
            <h3 id="h3">Step 3</h3>
            <div id="line"></div>
            <div class="form-group shadow-textarea">
                <label>Recipe description</label>
                </br>
                <textarea id="RecipeDescr" class="form-control z-depth-1" rows="13" placeholder="Please write your steps like this: *Step 1 * Step 2"></textarea>
                </br>
            </div>

            <button type="button" data-item-to-show="2" class="btn btn-outline-secondary" id="btnLeft">Back</button>
            <button type="button" data-item-to-show="4" onclick="AddDescription();" class="btn btn-outline-success" id="btnPosition">Publish</button>


        </div>

        <div id="RecipeLoop-item-4" class="RecipeLoop-item hide">
            <h2>Your Recipe is now saved!</h2>
            <button type="button" data-item-to-show="3" class="btn btn-outline-secondary" id="btnLeft">Back</button>
            @*<input type="submit" value="Publish" />*@


        </div>


    </div>
</div>



@section scripts
{
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/JavaScript.js" type="text/javascript"></script>

    <script>

        var recepieId = 0;
        var IngID = 0;

        function uploadFile() {
            var categoryIDs = [];

            $.each($("input[name='ingredient']:checked"), function () {
                categoryIDs.push($(this).val());
            });

            var DishName = $('#input').val();

            var fileUpload = $("#profilePic").get(0);
            var files = fileUpload.files;
            var formData = new FormData();
            formData.append('file', files[0]);
            formData.append('categoryIDs', categoryIDs);
            formData.append('recepieId', recepieId);
            formData.append('title', DishName);

            $.ajax({
                url: '/AddRecipieStep1',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (result) {
                    recepieId = result;
                }
            });

        };

        function AddIngredients() {
            var IngredientName = $('#IngrInput').val();
            var IngredientAmount = $('#AmountInput').val();
            var DDValue = $('#valueofDD').val();
            var CurrentID = recepieId;

            var formData = new FormData();
            formData.append('RecipeIngr', IngredientName);
            formData.append('RecipeAmount', IngredientAmount);
            formData.append('DropDownVal', DDValue);
            formData.append('RecID', CurrentID);

            $.ajax({
                url: '/AddRecipieStep2',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (result) {
                    IngID = result;
                    $("#ingredientContainer ul li:last").after(
                        '<li id="' + IngID + '">' + IngredientName + " " + IngredientAmount + " " + DDValue + " "
                        + '<a href="javascript:deleteIngredient(' + IngID + ')"><i class="fas fa-trash-alt"></i></a>' + '</li>');
                    $("#IngrInput").val("");
                    $("#AmountInput").val("");

                }
            });
        }

        function AddDescription() {
            var Description = $('#RecipeDescr').val();
            var idOfRec = recepieId;
            var formData = new FormData();
            formData.append('TextBox', Description);
            formData.append('RecID', idOfRec);

            $.ajax({
                url: '/AddRecipieStep3',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (result) {
                }
            });
        }
        function deleteIngredient(IngID) {
            var formData = new FormData();
            formData.append('CurrentIngID', IngID);

            $.ajax({
                url: '/DeleteIngredient',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (result) {
                }
            });

            $('#' + IngID).remove();

        }

    </script>
}