@model VeganProfileAddVM
@{ ViewBag.Title = "Profile";}
@{
    Layout = "_ProfileLayout";
}

<h1>Add recipe</h1>

<form asp-controller="Home" asp-action="AddRecipe" enctype="multipart/form-data">
    <label asp-for="Name"></label>
    <input asp-for="Name" />
    <span asp-validation-for="Name"></span>

    @foreach (string item in Model.Categories)
    {
        <input type="checkbox" value="@item">@item<br />
    }

    <label asp-for="Img"></label>
    <input asp-for="Img" />
    <span asp-validation-for="Img"></span>

    <input type="submit" value="Register" />
</form>