@model VeganProfileAddVM
@{ ViewBag.Title = "Add";}
@{
    Layout = "_ProfileLayout";
}

@section styles
{
    <link rel="stylesheet" type="text/css" href="~/Styles/Addrecipe.css">
}


<div class="add-recipe-carousel">

    <div id="carousel-item-1" class="carousel-item">
        item 1
        <label asp-for="Name"></label>
        <input id="input" />


        @foreach (var item in Model.Categories)
        {
            <input type="checkbox" name="ingredient" value="@item.Value" checked>@item.Text<br />
        }

        <form method="post" enctype="multipart/form-data">
            Select image to upload:
            <input id="profilePic" name="picture" type="file" size="1" />
        </form>


        <button onclick="uploadFile();" data-item-to-show="2">Next</button>

    </div>

    <div id="carousel-item-2" class="carousel-item hide">
        Step 2

        <label>Ingredient</label>
        <input id="IngrInput" />

        <label>Amount</label>
        <input id="AmountInput" type="number" />

        <label asp-for="MeasurementItems"></label>
        <select asp-for="SelectedMeasurementValue"
                asp-items="Model.MeasurementItems" id="valueofDD"></select>
        <span asp-validation-for="SelectedMeasurementValue"></span>

        @*div med en loop som loopar över de ingredienser som finns*@

        <button type="button" onclick="AddIngredients();" data-item-to-show="2"> Add ingredient</button>
        <div id="ingredientContainer">
            <ul id="ingredientsList">
                <li>Tillagda ingredienser: </li>
            </ul>

        </div>

        <button type="button" data-item-to-show="1">Back</button>
        <button type="button" data-item-to-show="3">Next</button>


    </div>

    <div id="carousel-item-3" class="carousel-item hide">
        Step 3

        <label>Recipe description</label>
        <textarea id="RecipeDescr"></textarea>
        <button type="button" data-item-to-show="2">Back</button>
        <button type="button" data-item-to-show="4" onclick="AddDescription();">Next</button>


    </div>

    <div id="carousel-item-4" class="carousel-item hide">
        item 4
        <button type="button" data-item-to-show="3">Back</button>
        <input type="submit" value="Publish" />


    </div>


</div>



@section scripts
{
    <script src="~/Scripts/JavaScript.js" type="text/javascript"></script>

    <script>

        var recepieId = 0;

        function uploadFile() {
            var categoryIDs = [];

            $.each($("input[name='ingredient']:checked"), function () {
                categoryIDs.push($(this).val());
            });

            var DishName = $('#input').val();

            var fileUpload = $("#profilePic").get(0);
            var files = fileUpload.files;
            var formData = new FormData();
            formData.append('file', files[0]);
            formData.append('categoryIDs', categoryIDs);
            formData.append('recepieId', recepieId);
            formData.append('title', DishName);

            $.ajax({
                url: '/AddRecipieStep1',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (result) {
                    console.log("1")
                    console.log(result)
                    console.log("2")
                    recepieId = result;
                }
            });

            //$.ajax({
            //    url: '/CreateRecipe',
            //    type: 'POST',
            //    contentType: "application/json",
            //    data: JSON.stringify({ categoryIDs: categoryIDs }),
            //    success: function (result) {



            //    }

            //});

        };

        function AddIngredients() {
            var IngredientName = $('#IngrInput').val();
            var IngredientAmount = $('#AmountInput').val();
            var DDValue = $('#valueofDD').val();
            var CurrentID = recepieId;

            var formData = new FormData();
            formData.append('RecipeIngr', IngredientName);
            formData.append('RecipeAmount', IngredientAmount);
            formData.append('DropDownVal', DDValue);
            formData.append('RecID', CurrentID);

            $.ajax({
                url: '/AddRecipieStep2',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (result) {
                    console.log("Du lyckades");
                    //$("#ingredientsList")

                    $("#ingredientContainer ul li:last").after('<li> "hej"</li>');

                }
            });
        }

        function AddDescription() {
            var Description = $('#RecipeDescr').val();
            var idOfRec = recepieId;
            var formData = new FormData();
            formData.append('TextBox', Description);
            formData.append('RecID', idOfRec);

            $.ajax({
                url: '/AddRecipieStep3',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (result) {
                    console.log("Funkar!!");
                }
            });
        }



//function uploadFile(inputId) {
//    var categoryIDs = [];

//    $.each($("input[name='ingredient']:checked"), function () {
//        categoryIDs.push($(this).val());
//    });
//    $.ajax({
//        url: '/Posting',
//        type: 'POST',
//        contentType: "application/json",
//        data: JSON.stringify({categoryIDs: categoryIDs }),
//        success: function (result) {
//        }
//    });
//};





    //var fileUpload = $("#" + inputId).get(0);
    //var files = fileUpload.files;
    //var formData = new FormData();
    //formData.append('file', files[0]);

    //$.ajax({
    //    url: '/Image/File',
    //    type: 'POST',
    //    data: formData,
    //    processData: false,
    //    contentType: false,
    //    success: function (result) {
    //    }
    //});

    </script>
}