@model VeganProfileAddVM
@{ ViewBag.Title = "Profile";}
@{
    Layout = "_ProfileLayout";
}

<div class="add-recipe-carousel">

    <div id="carousel-item-1" class="carousel-item">
        item 1

        @*<label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>*@

        @*@foreach (string item in Model.Categories)
            {
                <input type="checkbox" value="@item">@item<br />
            }*@

        <form method="post" enctype="multipart/form-data">
        Select image to upload:
        <input id="profilePic" name="picture" type="file" size="1" onchange="uploadFile('profilePic');" />
        </form>


        <button data-item-to-show="2">Next</button>

    </div>

    <div id="carousel-item-2" class="carousel-item hide">
        item 2

        <label asp-for="MeasurementItems"></label>
        <select asp-for="SelectedMeasurementValue"
                asp-items="Model.MeasurementItems"></select>
        <span asp-validation-for="SelectedMeasurementValue"></span>

        <button type="button" data-item-to-show="1">Back</button>
        <button type="button" data-item-to-show="3">Next</button>


    </div>

    <div id="carousel-item-3" class="carousel-item hide">
        item 3
        <button type="button" data-item-to-show="2">Back</button>
        <button type="button" data-item-to-show="4">Next</button>


    </div>

    <div id="carousel-item-4" class="carousel-item hide">
        item 4
        <button type="button" data-item-to-show="3">Back</button>
        <input type="submit" value="Publish" />


    </div>


</div>



@section scripts
{
    <script src="~/Scripts/JavaScript.js" type="text/javascript"></script>

    <script>
        function uploadFile(inputId) {
            var fileUpload = $("#" + inputId).get(0);
            var files = fileUpload.files;
            var formData = new FormData();
            formData.append('file', files[0]);

            $.ajax({
                url: '/Image/File',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (result) {
                }
            });
        }
    </script>
}