@model VeganProfileAddVM
@{ ViewBag.Title = "Add";}
@{
    Layout = "_ProfileLayout";
}

<div class="add-recipe-carousel">

    <div id="carousel-item-1" class="carousel-item">
        item 1

        @*<label asp-for="Name"></label>
            <input asp-for="Name" />
            <span asp-validation-for="Name"></span>*@

        @foreach (var item in Model.Categories)
        {
            <input type="checkbox" name="ingredient" value="@item.Value" checked>@item.Text<br />
        }

        <form method="post" enctype="multipart/form-data">
            Select image to upload:
            <input id="profilePic" name="picture" type="file" size="1" />
        </form>


        <button onclick="uploadFile();" data-item-to-show="2">Next</button>

    </div>

    <div id="carousel-item-2" class="carousel-item hide">
        item 2

        <label asp-for="MeasurementItems"></label>
        <select asp-for="SelectedMeasurementValue"
                asp-items="Model.MeasurementItems"></select>
        <span asp-validation-for="SelectedMeasurementValue"></span>

        <button type="button" data-item-to-show="1">Back</button>
        <button type="button" data-item-to-show="3">Next</button>


    </div>

    <div id="carousel-item-3" class="carousel-item hide">
        item 3
        <button type="button" data-item-to-show="2">Back</button>
        <button type="button" data-item-to-show="4">Next</button>


    </div>

    <div id="carousel-item-4" class="carousel-item hide">
        item 4
        <button type="button" data-item-to-show="3">Back</button>
        <input type="submit" value="Publish" />


    </div>


</div>



@section scripts
{
    <script src="~/Scripts/JavaScript.js" type="text/javascript"></script>

    <script>

        function uploadFile() {
            var categoryIDs = [];

            $.each($("input[name='ingredient']:checked"), function () {
                categoryIDs.push($(this).val());
            });


            $.ajax({
                url: '/CreateRecipe',
                type: 'POST',
                contentType: "application/json",
                data: JSON.stringify({ categoryIDs: categoryIDs }),
                success: function (result) {
                    var fileUpload = $("#profilePic").get(0);
                    var files = fileUpload.files;
                    var formData = new FormData();
                    formData.append('file', files[0]);

                    var id = result.id;

                    $.ajax({
                        url: '/SetRecipeImg',
                        type: 'POST',
                        data: { formData: formData, id: id },
                        processData: false,
                        contentType: false,
                        success: function (result) { }

                    });


                }

            });



















        };






    //function uploadFile(inputId) {
    //    var categoryIDs = [];

    //    $.each($("input[name='ingredient']:checked"), function () {
    //        categoryIDs.push($(this).val());
    //    });
    //    $.ajax({
    //        url: '/Posting',
    //        type: 'POST',
    //        contentType: "application/json",
    //        data: JSON.stringify({categoryIDs: categoryIDs }),
    //        success: function (result) {
    //        }
    //    });
    //};





        //var fileUpload = $("#" + inputId).get(0);
        //var files = fileUpload.files;
        //var formData = new FormData();
        //formData.append('file', files[0]);

        //$.ajax({
        //    url: '/Image/File',
        //    type: 'POST',
        //    data: formData,
        //    processData: false,
        //    contentType: false,
        //    success: function (result) {
        //    }
        //});

    </script>
}