@model VeganCategoryVM[]
@{ ViewBag.Title = "Recipe Category";}

<partial name="~/Views/Shared/_Header.cshtml" />


<h1>@Model[0].CategoryName</h1>

@foreach (var item in Model)
{
    <div>
        <img src="@item.Img" style="width: 500px; height:auto" />
        <a asp-controller="Vegan" asp-action="Details" asp-route-id="@item.Id">@item.Title</a>
    </div>
}
