@model VeganEditProfileVM

@{ ViewBag.Title = "Edit Profile";}
@{
    Layout = "_Layout";
}

@section styles
{
    <link rel="stylesheet" type="text/css" href="~/Styles/EditProfile.css">
}

<partial name="~/Views/Shared/_Header.cshtml" />


<div class="edit-profile-form">

    <form asp-controller="vegan" asp-action="editprofile" method="post" enctype="multipart/form-data">
        <h2>Edit Profile</h2>
        <br />
        <div class="form-group">
            <label asp-for="UserName"></label>
            <input class="form-control">
        </div>
        <div class="form-group">
            <label style="text-align: center; " asp-for="Description"></label>
            <textarea rows="4" class="form-control"  asp-for="Description" >
            </textarea>
        </div>
        <div>
            <label class="custom-file-upload" asp-for="PictureURL"></label>
            <input class="btn btn-default" asp-for="PictureURL" />
            <span asp-validation-for="PictureURL"></span>

        </div>
        
        <input class="btn btn-success btn-block" style="margin-top: 20px; "type="submit" value="Update" />

    </form>
</div>



