@model VeganFollowersVM[]
@{ ViewBag.Title = "Followers";}
@section styles
{<link rel="stylesheet" type="text/css" href="~/styles/posts.css" />}

<partial name="~/Views/Shared/_Header.cshtml" />

@if (Model.Length > 0)
{
<h1 class="h2 mb-3 font-weight-normal text-center">Posts from people you follow</h1>

    <div class="container">
        @foreach (var post in Model)
        {
        <div class="border thumbnail row">
            <div class="container-header">
                <div>
                    <img src="~/Uploads/@post.CreatorProfileImg" alt="category" class="rounded-circle img-fluid">
                    <h2>@post.CreatorUsername</h2>
                </div>
            </div>
            <div class="container-img">
                <img src="~/Uploads/@post.RecipeImg" alt="category" class="img-fluid">
            </div>
            <a asp-controller="Vegan" asp-action="Details" asp-route-id="@post.RecipeId">
                <div class="container-details">
                    <h2 class="h4 mb-3">
                        @post.RecipeTitle
                    </h2>
                    <div class="category">
                    @foreach (var cat in post.RecipeCategories)
                    {
                        <p>@cat</p>
                    }
                    </div>
                </div>
            </a>
        </div>
        }
    </div>
}
else
{
<h1 class="h4 mb-3 font-weight-normal text-center">You are not following anyone yet</h1>
}