@model VeganLoginVM
@{ ViewBag.Title = "Log in to Herbivore Society";}
@section styles
{<link rel="stylesheet" type="text/css" href="~/styles/signin.css" />}

@*<div class="container" >
    <div >
        <img style="width: auto; height: 500px;" src="~/Uploads/loginHB.png" alt="Herbivore" />
    </div>
    <div class="border"  id="box">
        <form asp-controller="Vegan" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl" class="form-signin">
            <h1 class="h3 mb-3 font-weight-normal">Herbivore Society</h1>

            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" id="inputField" class="form-control" autofocus />
                <span asp-validation-for="Username"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" id="inputField" class="form-control" />
                <span asp-validation-for="Password"></span>
            </div>
            <br />
            <button type="submit" class="btn btn-success">Sign in</button>
            <br /><br />
            <h2 class="h6 mb-3 font-weight-normal">Not a member? <a asp-controller="Vegan" asp-action="Register">Register here</a></h2>
        </form>
    </div>
</div>*@

<div class="container-fluid">
    <div class="row no-gutter">
        <div>
            <img src="~/Uploads/loginHB.png" alt="Herbivore" />
        </div>
        <div class="col-md-8 col-lg-6">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-8 mx-auto">
                            <h3 class="login-heading mb-4">Welcome back!</h3>
                            <form asp-controller="Vegan" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">
                                <div class="form-label-group">
                                    @*<input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            <label for="inputEmail">Email address</label>*@
                                    <label asp-for="Username"></label>
                                    <input asp-for="Username" class="form-control" required autofocus />
                                    <span asp-validation-for="Username"></span>
                                </div>

                                <div class="form-label-group">
                                    <label asp-for="Password"></label>
                                    <input asp-for="Password" class="form-control" />
                                    <span asp-validation-for="Password"></span>
                                    @*<input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <label for="inputPassword">Password</label>*@
                                </div>

                                @*<div class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1">Remember password</label>
                                </div>*@
                                <button class="btn btn-lg btn-success btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Sign in</button>
                                @*<div class="text-center">
                                    <a class="small" href="#">Forgot password?</a>
                                </div>*@
                                <h2 class="h6 mb-3 font-weight-normal" style="justify-content: center;">Not a member? <a asp-controller="Vegan" asp-action="Register">Register here</a></h2>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts  {
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
}