@model VeganLoginVM
@{ ViewBag.Title = "Log in to Herbivore Society";}

<h3>Herbivore Society</h3>
<div>
    <form asp-controller="Vegan" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">
        <label asp-for="Username"></label>
        <input asp-for="Username" />
        <span asp-validation-for="Username"></span>

        <label asp-for="Password"></label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
        <br />
        <input type="submit" value="Log In" />
    </form>
    <div asp-validation-summary="All"></div>
</div>
<div>
    <h4>Not a member? <a asp-controller="Vegan" asp-action="Register">Register here</a></h4>
</div>

