@model VeganLoginVM
@{ ViewBag.Title = "Log in to Herbivore Society";}
@section styles
{<link rel="stylesheet" type="text/css" href="~/styles/signin.css" />}



<div class="container-fluid">
    <div class="row no-gutter">
        <div>
            <img src="~/Uploads/loginHB.png" alt="Herbivore" />
        </div>
        <div class="col-md-8 col-lg-6">
            <div class="login d-flex align-items-center py-5">
                <div class="container" id="con-login">
                    <div class="row" id="row-login">
                        <div class="col-md-9 col-lg-8 mx-auto">
                            <h3 class="login-heading mb-4">Welcome!</h3>
              
                        <form asp-controller="Vegan" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl" class="form-signin">
                            <div class="form-label-group">
                                <input asp-for="Username" class="form-control" placeholder="User Name" required autofocus>
                                <label asp-for="Username" for="Username"></label>
                            </div>

                            <div class="form-label-group">
                                <input asp-for="Password" type="password" class="form-control" placeholder="Password">
                                <label asp-for="Password" for="Password"></label>
                            </div>

                            <button class="btn btn-lg btn-success btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Sign in</button>
                            <label>Not a member? <a asp-controller="Vegan" asp-action="Register">Register here</a></label>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*@section scripts  {
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
}*@