@model VeganLoginVM
@{ ViewBag.Title = "Log in to Herbivore Society";}
@section styles
{<link rel="stylesheet" type="text/css" href="~/styles/signin.css" />}

<div class="container" >
    <div >
        <img src="~/Uploads/Herbivore.jpg" alt="Herbivore" />
    </div>
    <div class="border"  id="box">
        <form asp-controller="Vegan" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl" class="form-signin">
            <h1 class="h3 mb-3 font-weight-normal">Herbivore Society</h1>

            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" id="inputField" class="form-control" autofocus />
                <span asp-validation-for="Username"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" id="inputField" class="form-control" />
                <span asp-validation-for="Password"></span>
            </div>
            <br />
            <button type="submit" class="btn btn-success">Sign in</button>
            <br /><br />
            <h2 class="h6 mb-3 font-weight-normal">Not a member? <a asp-controller="Vegan" asp-action="Register">Register here</a></h2>
        </form>
    </div>
</div>

@section scripts  {
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
}