@model VeganPostVM[]

@{ ViewBag.Title = "Post";}
@{
    Layout = "_ProfileLayout";
}

<h1>Your posts</h1>

<div>
    @foreach (var item in Model)
    {
        <p>@item.RecipeTitle</p>
        <img src="@item.RecipeImg" style="width: 500px; height:auto"/>

        @foreach (var cat in item.RecipeCategories)
        {
            <p>@cat</p>
        }

    }




</div>


