@model VeganPostVM[]

@{ ViewBag.Title = "Post";}
@{
    Layout = "_ProfileLayout";
}

<h1>Your posts</h1>

<div>
    @foreach (var item in Model)
    {
        <a asp-controller="Vegan" asp-action="Details" asp-route-id="@item.RecipeId">
            <h3>@item.RecipeTitle</h3>
        </a>
        @foreach (var cat in item.RecipeCategories)
        {
            <p>@cat</p>
        }

        <img src="@item.RecipeImg" style="width: 500px; height:auto" />
    }
</div>


