@model VeganRecipeVM[]
@{ ViewBag.Title = "Recipes";}
@section styles
{<link rel="stylesheet" type="text/css" href="~/styles/category.css" />}

<partial name="~/Views/Shared/_Header.cshtml" />

<h1 class="h2 mb-3 font-weight-normal text-center">Recipe categories</h1>
<div class="container">
    @foreach (var item in Model)
    {
    <div class="thumbnail text-center">
        <a asp-controller="Vegan" asp-action="Category" asp-route-id="@item.Id">
            <img src="~/Uploads/@item.Img" alt="category">
            <h2 class="h4 mb-3 font-weight-bold caption">@item.CategoryName</h2>
        </a>
    </div>
    }
</div>








