@model VeganRecipeVM
@*<ul>
        @for (int i = 0; i < @Model.Categories.Count; i++)
        {
            <li>@Model.Categories[i]</li>
        }

    </ul>*@

@foreach (var item in Model.Categories)
{
    @item
}

<a asp-controller="Vegan" asp-action="Logout">Logout</a>





