@model VeganRecipeVM[]
@{ ViewBag.Title = "Recipes";}
@section styles
{<link rel="stylesheet" type="text/css" href="~/styles/category.css" />}

<partial name="~/Views/Shared/_Header.cshtml" />

<h1 class="h2 mb-3 font-weight-normal text-center">Recipe categories</h1>
<div class="container">
    @foreach (var item in Model)
    {
        <a asp-controller="Vegan" asp-action="Category" asp-route-id="@item.Id">
            <div class="thumbnail text-center">
                <img src="~/Uploads/@item.Img" alt="category" class="img-fluid">
                <div class="caption">
                    <h2 class="h1 mb-3">@item.CategoryName</h2>
                </div>
            </div>
        </a>

    }
</div>








