@model VeganRegisterVM
@{ ViewBag.Title = "Register";}
@section styles
{<link rel="stylesheet" type="text/css" href="~/styles/signin.css" />}



<div class="container-fluid">
    <div class="row no-gutter">
        <div>
            <img src="~/Uploads/loginHB.png" alt="Herbivore" />
        </div>
        <div class="col-md-8 col-lg-6">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-8 mx-auto">
                            <h3 class="login-heading mb-4">Register</h3>
                            <form asp-controller="Home" asp-action="Register" class="form-signin">

                                <div class="form-label-group">
                                    <label asp-for="Email"></label>
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email"></span>
                                </div>


                                <div class="form-label-group">
                                    <label asp-for="FirstName"></label>
                                    <input asp-for="FirstName" class="form-control" />
                                    <span asp-validation-for="FirstName"></span>
                                </div>


                                <div class="form-label-group">
                                    <label asp-for="LastName"></label>
                                    <input asp-for="LastName" class="form-control" />
                                    <span asp-validation-for="LastName"></span>
                                </div>


                                <div class="form-label-group">
                                    <label asp-for="Email"></label>
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email"></span>
                                </div>

                                <div class="form-label-group">
                                    <label asp-for="Username"></label>
                                    <input asp-for="Username" class="form-control" />
                                    <span asp-validation-for="Username"></span>
                                </div>

                                <div class="form-label-group">
                                    <label asp-for="Password"></label>
                                    <input asp-for="Password" class="form-control" />
                                    <span asp-validation-for="Password"></span>
                                </div>
                                <div class="form-label-group">
                                    <label asp-for="PasswordRepeat"></label>
                                    <input asp-for="PasswordRepeat" class="form-control" />
                                    <span asp-validation-for="PasswordRepeat"></span>
                                </div>
                                    <button class="btn btn-lg btn-success btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Register</button>

                                    <h1 class="h6 mb-3 font-weight-normal">Do you have an account? <a asp-controller="Vegan" asp-action="Login">Log in </a></h1>

</form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    @section scripts
{
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
    }
