@{ ViewBag.Title = "Save";}
@{
    Layout = "_ProfileLayout";
}

<h1>Save</h1>

@section scripts
{
    <script>
        $("#btnGetPosts").click(function () {
            var id = $('#input').val();
            $.ajax({
                url: "/MovieDesc/" + id,
                type: "GET",
                success: function (result) {
                    $("#divResult").html(result);
                }
            });

        });
    </script>
}